.about {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .image {
        img {
          height: 50rem;
          width: 50rem;
          object-fit: cover;
        }
      }
        }
      }