.hero {
    display: grid;
    grid-template-columns: 35% 35%;
    overflow: hidden;
    height: 60vh;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        .title {
           h1 {
              @include gradientText;
              font-size: 4vw;
            }
        }

    }
    .image {
        position: relative;
        img {
            position: absolute;
            bottom: 0;
            height: 70vh;
            width: 40vw;
            object-fit: cover;
        }
    }   

}